* {
  margin: 0;
}

.App-header {
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
}

body {
  background-color: #973131;
  min-height: 100vh;
  ::placeholder {
    color: rgba(245, 222, 179, 0.473);
  }
}
