.CardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content {
  color: wheat;
  .search_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 85px;

    .search {
      border-radius: 10px;
      padding: 0 15px;
      border: 1px solid wheat;

      input {
        all: unset;
        padding: 13px;
        font-size: 16px;
        max-width: 300px;
        color: wheat;
      }
    }
  }
  .content_items {
    display: flex;
    flex-wrap: wrap;
  }
}
