.sort {
  height: 1vh;
  width: 10vw;
  span {
    margin-right: 8px;
    color: wheat;
    border-bottom: 1px dashed wheat;
  }

  span {
    cursor: pointer;
  }

  .sort_pop {
    cursor: pointer;
    background-color: #973131;

    position: absolute;
    z-index: 100;
    ul {
      all: unset;
      display: block;
      cursor: pointer;
    }

    li {
      all: unset;
      display: flex;
      justify-content: flex-start;
      margin: 10px;

      &.active,
      &:hover {
        background: rgba(254, 95, 30, 0.05);
      }

      &:active {
        font-weight: bold;
        color: red;
      }
    }
  }
}
